@import '../../../styles/mixins.scss';

$ratio: 1.232;
$width: 300px;
$height: calc($width * $ratio);

.wrapper {

    @include flex(flex, row, wrap, center, center);

    @include breakpoint(md) {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }

    .imageWrapper {

        margin-right: $spacing-extra-large;

        @include breakpoint(md) {
            margin-right: 0;
        }

        &:hover {
            .image {
                &:before {
                    transform: translate(10px, -10px)
                }
            }
        }

        .image {

            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            width: $width;
            height: $height;
            border: 5px solid #010C1B;

            @include breakpoint(xs) {
                width: calc($width / 2);
                height: calc($height / 2);
            }
    
            &:before {
                content: '';
                border: 5px solid $color-primary;
                border-radius: 5px;
                filter: drop-shadow(0 0 2px $color-primary);
                height: $height;
                @include position($position: absolute, $bottom: -$spacing-large, $left: -$spacing-large);
                transition: transform $transition-time;
                width: $width;
                z-index: -1;

                @include breakpoint(xs) {
                    width: calc($width / 2);
                    height: calc($height / 2);
                    bottom: -$spacing-medium;
                    left: -$spacing-medium;
                }
            }
    
        }

    }

    .content {

        width: 50%;

        @include breakpoint(md) {
            width: 100%;
        }

        .separator {
            margin: $spacing-medium 0;
            width: 15%;
            height: 2px;
            background-color: $color-primary;
            filter: drop-shadow(0 0 2px $color-primary);
        }

        p {
            margin-bottom: $spacing-medium;
        }

        a {
            color: $color-primary;
        }

        ul {

            display: grid;
            grid-template-columns: repeat(3, minmax(140px, 200px));
            margin: -$spacing-small 0 $spacing-medium 0;

            @include breakpoint(sm) {
                grid-template-columns: repeat(2, minmax(140px, 200px));
            }

            li {
                &:before {
                    content: '⤃';
                    color: $color-primary;
                    margin-right: $spacing-extra-small;
                    position: relative;
                    bottom: 2px;
                }
            }

        }

    }

}