@import '../../../styles/variables.scss';

.squareButton {

    border-radius: $border-radius;
    padding: 15px 40px;
    transition: $transition-time background-color;
    user-select: none;

    &.var-1 {

        background-color: transparent;
        border: 1px solid $color-primary;
        color: $color-primary;

        &:hover {
            background-color: rgba(255, 215, 0, 0.1);
        }

    }

}