@import '../../../../styles/mixins.scss';

.wrapper {

    @include flex(flex, row, wrap, space-between, center);
    width: 100%;

    @include breakpoint(sm) {
        justify-content: center;
    }

    .contentWrapper {

        @include flex(flex, row, wrap, flex-end, center);
        width: 65%;
        position: relative;

        @include breakpoint(sm) {
            margin-top: $spacing-large;
            justify-content: center;
            width: 100%;
        }

        .imageWrapper {
            
            width: 80%;
            border-radius: 10px;
            overflow: hidden;

            @include breakpoint(sm) {
                width: 100%;
            }

            .image {

                width: 100%;
                padding-bottom: 63%;
                object-fit: cover;

                // TODO: Remove once going all SSR.
                &.sunterra {
                    @include background-image(sunterra-frontend, png, contain, center, no-repeat);
                }

                &.sunterra-backend {
                    @include background-image(sunterra-backend-screenshot, png, contain, center, no-repeat);
                }

                &.polygon-nft-minter {
                    @include background-image(polygon-nft-minter-screenshot, png, contain, center, no-repeat);
                }

                &.discord-twitter-tracker {
                    @include background-image(discord-twitter-tracker-screenshot, png, contain, center, no-repeat);
                }

                &.arbitrage-scanner-screenshot {
                    @include background-image(arbitrage-scanner-screenshot, png, contain, center, no-repeat);
                }

                &.blockframe-screenshot {
                    @include background-image(blockframe-screenshot, png, contain, center, no-repeat);
                }

            }

        }

        .descriptionWrapper {

            @include flex(flex, row, wrap, flex-end, flex-end);
            padding: $spacing-medium;
            width: 40%;
            background-color: lighten($color: $color-background, $amount: 5%);
            border-radius: 10px;
            position: absolute;
            left: 0px;
            text-align: right;

            @include breakpoint(md) {
                width: 60%;
                left: 40px;
            }

            @include breakpoint(sm) {
                width: 100%;
                background-color: rgba(3, 12, 27, 0.8);
                left: auto;
                top: 0%;
                @include flex(flex, column, nowrap, center, flex-end);
                height: 100%;
            }

            p {
                margin-bottom: $spacing-small;
            }

            a {
                color: $color-primary;
            }

            .sourcesWrapper {

                @include flex(flex, row, wrap, flex-end, flex-end);

                .sourceWrapper {
    
                    margin-right: $spacing-small;
    
                    &:last-child {
                        margin: 0;
                    }
    
                }

            }


        }

    }

    .titleWrapper {

        width: 30%;
        @include flex(flex, column, wrap, flex-end, flex-end);
        text-align: right;
        gap: $spacing-medium;

        h1 {
            font-size: 60px;
        }

        h2 {
            color: $color-primary;
            font-size: 22px;
        }

        @include breakpoint(sm) {

            width: 100%;
            @include flex(flex, column, wrap, center, center);
            text-align: center;

            h1 {
                font-size: 50px;
            }

        }

        .description {

            max-width: 80%;

            @include breakpoint(sm) {
                max-width: 100%;
            }
        }

        .technologiesWrapper {
            @include flex(flex, row, wrap, flex-end, flex-end);
            gap: $spacing-small;
        }

    }
    
}