@import '../../../../styles/mixins.scss';

.wrapper {

    @include flex(flex, row, wrap, space-between, center);
    width: 100%;

    @include breakpoint(sm) {
        justify-content: center;
    }

    .contentWrapper {

        @include flex(flex, row, wrap, flex-end, center);
        width: 65%;
        position: relative;

        @include breakpoint(sm) {
            margin-top: $spacing-medium;
        }

        
        .imageWrapper {
            width: 80%;
            border-radius: 10px;
            overflow: hidden;
        }

        .descriptionWrapper {

            @include flex(flex, row, wrap, flex-end, flex-end);
            padding: $spacing-medium;
            width: 40%;
            background-color: lighten($color: $color-background, $amount: 5%);
            border-radius: 10px;
            position: absolute;
            left: 0px;
            text-align: right;

            @include breakpoint(sm) {
                width: 100%;
                background-color: rgba(3, 12, 27, 0.9);
            }

            p {
                margin-bottom: $spacing-small;
                font-size: 16px;
            }

            a {
                color: $color-primary;
            }

            .sourceWrapper {

                margin-right: $spacing-small;

                &:last-child {
                    margin: 0;
                }

            }

        }

    }

    .titleWrapper {

        width: 30%;
        @include flex(flex, column, wrap, flex-end, flex-end);
        text-align: right;

        @include breakpoint(sm) {
            width: 100%;
            @include flex(flex, column, wrap, center, center);
        }

        h1 {
            margin: $spacing-small 0 $spacing-medium 0;
            font-size: 60px;
        }

        h2 {
            color: $color-primary;
            font-size: 22px;
        }

        .description {
            max-width: 80%;
        }

        .technologiesWrapper {
            @include flex(flex, row, wrap, flex-end, flex-end);
            margin-top: $spacing-medium;
        }

        .technologiesWrapper > * {
            
            margin-right: $spacing-small;

            &:last-child {
                margin-right: 0;
            }
        }

    }
    
}