@import '../../../../styles/mixins.scss';

.wrapper {

    @include flex(flex, row, wrap, space-between, center);
    width: 100%;

    .contentWrapper {

        @include flex(flex, row, wrap, flex-end, center);
        width: 65%;
        position: relative;

        .image {
            width: 70%;
        }

        .descriptionWrapper {

            padding: $spacing-medium;
            width: 40%;
            background-color: lighten($color: $color-background, $amount: 5%);
            border-radius: 10px;
            position: absolute;
            left: 0px;
            text-align: right;

            p {
                margin-bottom: $spacing-small;
                font-size: 16px;
            }

        }

    }

    .titleWrapper {

        width: 30%;
        @include flex(flex, column, wrap, flex-end, flex-end);
        text-align: right;

        h1 {
            margin: $spacing-small 0 $spacing-medium 0;
        }

        h2 {
            color: $color-primary;
            font-size: 22px;
        }

        .description {
            max-width: 80%;
        }

        .technologiesWrapper {
            @include flex(flex, row, wrap, flex-end, flex-end);
            margin-top: $spacing-medium;
        }

        .technologiesWrapper > * {
            margin-right: $spacing-small;

            &:last-child {
                margin-right: 0;
            }
        }

    }
    
}