@import '../../../styles/mixins.scss';

.wrapper {

    @include flex(flex, column, nowrap, center, center);
    min-height: 100vh;
    padding: 0;

    .innerWrapper {

        text-align: right;
        display: flex;
        flex-direction: column;
        gap: $spacing-small;

        .intro {
    
            @include flex(flex, row, nowrap, center, center);
            white-space: nowrap;
    
            .line {
                width: 100%;
                height: 4px;
                background-color: $color-primary;
                filter: drop-shadow(0 0 2px $color-primary);
                margin-left: $spacing-medium;
            }
    
        }

        h1 {
            font-size: 120px;
            text-transform: uppercase;
        }
    
        h2 {
            font-size: 36px;
        }

        @include breakpoint(sm) {

            h1 {
                font-size: 80px;
            }

            h2 {
                font-size: 32px;
            }

        }

        @include breakpoint(xs) {

            h1 {
                font-size: 50px;
            }

            h2 {
                font-size: 22px;
            }

            font-size: 14px;

        }

        .build {

            font-family: $font-family-bold;
            @include flex(flex, row, nowrap, flex-end, flex-start);

            span {
                color: $color-primary;
                margin-left: $spacing-extra-small;
            }
        }

    }

}