@import '../../../styles/mixins.scss';

.wrapper {

    @include flex(flex, row, wrap, center, center);
    min-height: 100vh;
    position: relative;
    width: 100%;

    .navigationWrapper {

        @include flex(flex, row, wrap, center, center);
        position: absolute;
        bottom: 15%;

        .back {
            @include background-image(chevron-back, svg, contain, center, no-repeat);
            height: 35px;
            width: 20px;
            margin-right: 20px;
            cursor: pointer;
        }
        
        .forward {
            @include background-image(chevron-forward, svg, contain, center, no-repeat);
            height: 35px;
            width: 20px;
            margin-left: 20px;
            cursor: pointer;;
        }

        .navigationItem {

            cursor: pointer;
            width: 20px;
            height: 5px;
            margin: 0px 10px;
            border-radius: 5px;
            background-color: #fff;
            opacity: 0.3;
            transition: opacity $transition-time;

            &.active {
                opacity: 1;
            }

        }

    }
    
}