@import '../../styles/mixins.scss';

.wrapper {

    @include position($position: fixed, $top: 0, $left: 0);
    width: 100%;
    padding: 30px 40px;

    @include breakpoint(xs) {
        padding: 30px 25px;
    }

    .nav {

        @include flex(flex, row, wrap, space-between, center);

        .logo {
            background-repeat: no-repeat;
            background-size: contain;
            width: 35px;
            height: 46px;
        }

        ul {

            @include flex(flex, row, wrap, center, center);

            li {

                margin-left: 20px;
                font-family: $font-family-semibold;
                text-transform: uppercase;
                cursor: pointer;

                color: inherit;
                text-decoration: underline 0.15em rgba(255, 255, 255, 0);
                transition: text-decoration-color $transition-time;

                &:hover {
                    text-decoration-color: #fff;
                }

            }
            
            li:nth-child(1) {
                margin: 0;
            }

        }

    }

}