@import '../../../../styles/mixins.scss';

.github {
    @include background-image(github-logo, svg, contain, center, no-repeat);
    width: 25px;
    height: 25px;
}

.website {
    @include background-image(website-link, svg, contain, center, no-repeat);
    width: 25px;
    height: 25px;
}