@import '../../../styles/mixins.scss';

$distance-from-edge: 35px;

.wrapper {

    position: fixed;
    bottom: 0px;

    @include breakpoint(sm) {
        display: none !important;
    }

    &.right {
        right: $distance-from-edge;
    }
    
    &.left {
        left: $distance-from-edge;
    }

    &:after {
        content: '';
        display: block;
        width: 1px;
        height: 80px;
        margin: 0px auto auto auto;
        background-color: #fff;
    }

}