@import '../../../styles/mixins.scss';



.wrapper {

    @include flex(flex, row, wrap, center, center);
    position: relative;
    min-height: 100vh;

    .featuredWrapper {
        width: 100%;
        @include breakpoint(md) {
            visibility: hidden;
            display: none;
        }
    }

    .mobileFeaturedWrapper {
        
        @include breakpoint(md) {
            visibility: visible;
            display: block;
            display: flex;
            flex-direction: column;
            gap: $spacing-extra-large;
        }

        visibility: hidden;
        display: none;
    }

    .navWrapper {

        @include flex(flex, row, wrap, center, center);
        position: absolute;
        bottom: 15%;
        width: 100%;

        .navItem {

            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: rgba(255, 255, 255, 0.4);
            transform: scale(0.5);
            transition: transform 0.5s;
            cursor: pointer;
            margin: 0 3px;
            
            &.active {
                background-color: $color-primary;
                transform: scale(1);
                margin: 0 5px;

            }

        }

    }
    
}